/* Title/logo font. */
@font-face {
    font-family: "Trocchi";
    src:
        local("Trocchi"),
        url("assets/Trocchi-Regular.ttf");
}

/* Boilerplate stuff. */
html {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Noto Sans", "Open Sans", Arial, sans-serif;
}

p {
    margin: 0 0 20px 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Modal display stuff. */
@keyframes fade-in {
    from {
        opacity: 0;
        pointer-events: none;
    }

    to {
        opacity: 1;
        pointer-events: inherit;
    }
}

@keyframes slide-in {
    from {
        translate: 0 10vh;
        opacity: 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}

.modal {
    border: 5px solid #aae;
    margin: 50px;
    border-radius: 50px;
    background-color: #ccf;
    animation: 0.5s 1 normal slide-in;
    overflow: auto;
    z-index: 3;
    padding: 0 50px 0 50px;
    font-size: 25px;
}

.modal__bg {
    background-color: #000;
    animation: 0.5s 1 normal fade-in;
    z-index: 2;
    position: fixed;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.modal__title {
    display: flex;
    margin-top: 10px;
    align-items: top;
}

.modal__title__heading {
    font-size: 60px;
    font-family: Trocchi, serif;
    font-weight: 400;
    font-style: normal;
    margin-block: 0px 20px;
    flex: 1 1 auto;
}

.modal__title__close {
    cursor: pointer;
    background: transparent;
    border: 0;
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    margin-left: 1em;
    margin-block: 10px 20px;
}

.modal__title__close__icon {
    width: 100%;
    height: 100%;
}

.modal__org-plug {
    margin-bottom: 20px;
}

.modal__org-plug__logo {
    max-width: 50%;
    float: left;
    margin: 0 2em 20px 0;
}

.modal__org-plug__logo__img {
    width: 100%;
    height: auto;
}

.modal__start-btn {
    display: block;
    margin-block: 20px 20px;
    font-size: 40px;
    width: 100%;
    border: none;
    background-color: #aae;
    font-family: Trocchi, serif;
    cursor: pointer;
    color: #000;
}

.modal__start-btn--smaller {
    font-size: 28px;
}

.modal__start-btn--disabled {
    cursor: auto;
    background-color: #ddd;
}

.modal__link {
    color: #0000ee;
    text-decoration: underline;
}

.modal__field-row {
    display: block;
    margin-bottom: 20px;
}

.modal__field-row__label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.modal__field-row__widget {
    display: block;
    width: 100%;
    background-color: #fff;
    font-size: 1.5em;
    border: 2px solid #aae;
    border-radius: 10px;
    padding: 0.2em 0.4em 0.2em 0.4em;
}

.modal__divider {
    border: 1px solid #aae;
    margin-block: 30px;
}

.modal__application-notice {
    font-style: italic;
    clear: both;
}

@media(max-width: 700px) {
    .modal__title__heading {
        font-size: 32px;
    }

    .modal__title__close {
        width: 40px;
        height: 40px;
    }

    .modal {
        font-size: 16px;
        border-radius: 20px;
        padding: 0 25px 0 25px;
        margin: 25px;
    }

    .modal__start-btn {
        margin-block: 10px 10px;
        font-size: 32px;
    }

    .modal__start-btn--smaller {
        font-size: 28px;
    }
}

@media(max-width: 450px) {
    .modal__title__heading {
        font-size: 24px;
    }

    .modal__title__close {
        width: 30px;
        height: 30px;
    }

    .modal {
        font-size: 16px;
    }

    .modal__start-btn {
        font-size: 28px;
    }

    .modal__start-btn--smaller {
        font-size: 24px;
    }
}

/* Utility classes. */
.hidden {
    display: none;
}
